<h3>About "Is it Vegan?"</h3>
<p> This app was built to help people determine if an unknown ingredient is vegan. 
As a vegan myself, I understand that a lot of questions come up when grocery 
shopping or eating out. </p>
<p>Disclamer: This is for entertainment purposes. Please do not rely solely upon this app in your decision making. </p>
