
<p> Home Page</p>

<p> Enter an ingredient to find out if it is vegan: </p>
<form method="POST" action="/" class="form">
    <input type="text" name="ingredient"/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




<% if defined?(valid) %>
<% if valid == "true" || valid == "false" %>
        <p> You entered: <%= params[:ingredient].capitalize %> </p>
        <p> Vegan: <%= valid.capitalize%> </p>
    <% end %>
<% end %>
