body {
    background-color: rgb(107, 199, 107) !important;
}

nav {
    display: inline-block;
    background-color: rgb(107, 199, 107) !important; 
}

p {
    text-align: center;
}

.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
